<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ReCodEx CUNI CAS</title>
</head>
<body class="container">
    <h1 class="mt-5 mb-5">ReCodEx Authentication Adapter for CUNI CAS</h1>
    
    {block content}{/block}

    <hr>
    <div class="text-center text-muted mb-4">
        <small>Created by ReCodEx team. More details on <a href="https://github.com/ReCodEx/cas-auth-ext" target="_blank">GitHub</a>.</small>
    </div>
</body>
</html>